// These colors are specific to the theme. Do not use in a package!
@groovy-background: #282828;
@groovy-highlight: #3C3836;

@very-light-gray: #C5C8C6;
@light-gray: #928374;
@gray: #373B41;
@dark-gray: #282A2E;
@very-dark-gray: #1D1F21;

// Gruvbox colors
@warm-white: #DBCCA6;
@groovy-green: #B8BB26;
@light-green: #8EC07C;
@pale-blue: #83A598;
@bright-red: #FB4934;
@bright-orange: #FD971F;
@light-purple: #E577B1;
@bright-yellow: #FABD2F;

@cyan: #8ABEB7;
@blue: #81A2BE;
@purple: #B294BB;
@green: #B5BD68;
@red: #CC6666;
@orange: #DE935F;
@light-orange: #F0C674;
